extends layouts/_layout
block breadcrumb_items
  li.breadcrumb-item.active(aria-current='page') Home
block content
  section
    h2#links
      i.fa-solid.fa-link.fa-fw
      |  Links
    ul
      li
        a(href='https://blufflog.hatenablog.com/' target='_blank' rel='noreferrer') Blog (Blufflog)
      li: a(href='https://note.com/haruu_52/' target='_blank' rel='noreferrer') note (@haruu_52)
      li
        a(href='https://x.com/haruu_52' target='_blank' rel='noreferrer')
          i.fa-brands.fa-x-twitter.fa-fw
          |  X (@haruu_52)
      li
        a(href='https://www.instagram.com/haruuu_52/' target='_blank' rel='noreferrer')
          i.fa-brands.fa-instagram.fa-fw
          |  Instagram (@haruuu_52)
      li
        a(href='https://www.threads.net/@haruuu_52' target='_blank' rel='noreferrer')
          i.fa-brands.fa-threads.fa-fw
          | Threads (@haruuu_52)
      li
        a(href='https://mstdn.jp/@haru52' target='_blank' rel='noreferrer')
          i.fa-brands.fa-mastodon.fa-fw
          |  Mastodon (@haru52@mstdn.jp)
      li
        a(href='https://misskey.io/@haru52' target='_blank' rel='noreferrer')
          | Misskey (@haru52@misskey.io)
      li: a(href='https://bsky.app/profile/haru52.bsky.social' target='_blank' rel='noreferrer')
        | Bluesky (@haru52.bsky.social)
      li
        a(href='https://www.youtube.com/@haruu52' target='_blank' rel='noreferrer')
          i.fa-brands.fa-youtube.fa-fw
          |  YouTube (haru)
      li
        a(href='https://github.com/haru52' target='_blank' rel='noreferrer')
          i.fa-brands.fa-github.fa-fw
          |  GitHub (@haru52)
      li
        a(href='https://qiita.com/haru52' target='_blank' rel='noreferrer') Qiita (@haru52)
      li
        a(href='https://filmarks.com/users/fukky28' target='_blank' rel='noreferrer')
          | Filmarks (@fukky28)
  hr
  section
    h2#contact
      i.fa-solid.fa-envelope.fa-fw
      |  Contact
    p
      a(
        href='https://docs.google.com/forms/d/e/1FAIpQLSddUF5PDhRpYPZ8VGVZClTBQCo-SQb4QzszOZanmWjUnH_stw/viewform?usp=sf_link'
        target='_blank'
        rel='noreferrer'
      ) Contact form
  section
    h2#pgp-gpg-key-ids
      i.fa-solid.fa-key.fa-fw
      |  PGP/GPG key IDs
    h3#primary-key Primary key
    p: a(href=require('../assets/haru52_pub.asc') download='haru52_pub.asc') 0x47EBF5C0762E679D
    h3#subkey Subkey
    p 0x723D70A87B5D1713 (Sign)
  hr
  section
    h2#education
      i.fa-solid.fa-graduation-cap.fa-fw
      |  Education
    ul
      li Master of Engineering, Japan
      li Bachelor of Information and Computer Science, Japan
    h3#research-interests Research interests
    ul
      li File virtualization
      li Data exchange/sharing/management
  hr
  section
  h2#qualifications
    i.fa-solid.fa-award.fa-fw
    |  Qualifications
  ul
    li
      a(href='https://www.ipa.go.jp/shiken/kubun/ap.html' target='_blank' rel='noreferrer')
        | Applied Information Technology Engineer Examination (AP)
      |
      | passed
    li AWS Certified Cloud Practitioner (CLF-C02) (2024)
  section
    h2#skills
      i.fa-solid.fa-toolbox.fa-fw
      |  Skills
    h3#programming
      i.fa-solid.fa-code.fa-fw
      |  Programming
    ul
      li HTML
      li CSS
      li SCSS (Sass)
      li JavaScript
      li TypeScript
      li Python
      li Java
      li C
      li Go
      li SQL/RDB
      li GraphQL
      li Google Apps Script
    h3#frameworks-libraries
      i.fa-solid.fa-book-open.fa-fw
      |  Frameworks/Libraries
    ul
      li React
      li Next.js
      li Vue.js
      li Vuex
      li Ruby on Rails
      li webpack
      li Babel
      li Jest
      li RSpec
      li Bootstrap
    h3#tools
      i.fa-solid.fa-tools.fa-fw
      |  Tools
    ul
      li Git
      li GitHub
      li GitHub Actions
      li Firebase
      li Fly.io
      li Heroku
      li JetBrains IDE (e.g., IntelliJ IDEA)
      li Visual Studio Code
      li Vim
      li Chrome DevTools
      li G Suite
    h3#os
      i.fa-solid.fa-computer.fa-fw
      |  OS
    ul
      li
        i.fa-brands.fa-apple.fa-fw
        |  Mac
      li
        i.fa-brands.fa-windows.fa-fw
        |  Windows
      li
        i.fa-brands.fa-linux.fa-fw
        |  Linux
  hr
  section
    h2#work
      i.fa-solid.fa-paintbrush.fa-fw
      |  Work
    h3#mecial
      a(href='https://mecial.haru52.com/' target='_blank' rel='noreferrer') Mecial β
    ul
      li MEta soCIAL: Users can create their own SNS on the website
      li Next.js v14, React v18, TypeScript v5
      li DB: PostgreSQL
      li Deployment: Vercel
      li Authentication: OAuth 2.0 (Google, Discord)
      li
        a(href='https://github.com/haru52/mecial' target='_blank' rel='noreferrer')
          i.fa-brands.fa-github
          |  Source code
    h3#bluffbox
      a(href='https://bluffbox.haru52.com/' target='_blank' rel='noreferrer') Bluffbox
    ul
      li Magic information management website for magicians
      li Web app framework: Ruby on Rails
      li DB: PostgreSQL
      li Deployment: Fly.io
      li Authentication: Email & password
    h3#base-template-repository
      a(href='https://github.com/haru52/base_template' target='_blank' rel='noreferrer')
        | Base Template Repository
    ul
      li Fully automated template repository
      li Provide full compliance with the community standards
    h3#oss-contributions OSS contributions
    ul
      li
        a(
          href='https://github.com/pulls?q=is%3Apr+is%3Apublic+author%3Aharu52+archived%3Afalse+-org%3Aharu52' target='_blank'
          rel='noreferrer'
        ) GitHub Pull Requests
  hr
  section
    h2#love
      i.fa-solid.fa-heart.fa-fw
      |  Love
    ul
      li: a(href='magic.html') Magic
      li Movie
      li Kyoko Sakura
      li Dr Pepper
      li Nonsense
  hr
  section
    h2#my-best
      i.fa-solid.fa-trophy.fa-fw
      |  My best
    ul
      li: a(href='my_best_10_films.html') My Best 10 Films
