extends layouts/_layout
block append variables
  - description = "haru's movie page.";
  - const pageKeywords = 'movie,film,movie review,cinema review,review,best films,best movies';
  - const pageTitle = 'Movie';
  - const filePath = 'movie.html';
block content
  h2 Movie Reviews
  ul
    li: a(href='https://filmarks.com/users/fukky28' target='_blank' rel='noreferrer') Filmarks
    li
      a(
        href='https://blufflog.hatenablog.com/archive/category/Movie'
        target='_blank'
        rel='noreferrer'
      )
        i.fa-solid.fa-blog.fa-fw
        |  Blog
  h2 My Best 10 Films
  ol
    li
      strong Suspiria
      br
      | (Dario Argento. Italy: 1977)
      br
      img.img-fluid(src=require('../assets/images/suspiria.jpg') alt='Suspiria')
    li
      strong Repulsion
      br
      | (Roman Polanski. United Kingdom: 1965)
      br
      img.img-fluid(src=require('../assets/images/repulsion.jpg') alt='Repulsion')
    li
      strong Pulse
      br
      | (Kiyoshi Kurosawa. Japan: 2001)
      br
      img.img-fluid(src=require('../assets/images/pulse.jpg') alt='Pulse')
    li
      strong Ikiru
      br
      | (Akira Kurosawa. Japan: 1952)
      br
      img.img-fluid(src=require('../assets/images/ikiru.jpg') alt='Ikiru')
    li
      strong Phantom of the Paradise
      br
      | (Brian De Palma. United States: 1974)
      br
      img.img-fluid(
        src=require('../assets/images/phantom_of_the_paradise.jpg')
        alt='Phantom of the Paradise'
      )
    li
      strong Under the Silver Lake
      br
      | (David Robert Mitchell. United States: 2018)
      br
      img.img-fluid(
        src=require('../assets/images/under_the_silver_lake.jpg')
        alt='Under the Silver Lake'
      )
    li
      strong The Cabin in the Woods
      br
      | (Drew Goddard. United States: 2012)
      br
      img.img-fluid(
        src=require('../assets/images/the_cabin_in_the_woods.jpg')
        alt='The Cabin in the Woods'
      )
    li
      strong Kill Bill
      br
      | (Quentin Tarantino. United States: 2003)
      br
      img.img-fluid(src=require('../assets/images/kill_bill.jpg') alt='Kill Bill')
    li
      strong Shigazo
      br
      | (Japan: 2015)
    li
      strong Last Night in Soho
      br
      | (Edgar Wright. United Kingdom: 2021)
      br
      img.img-fluid(src=require('../assets/images/last_night_in_soho.jpg') alt='Last Night in Soho')
