block variables
  - let description = 'haru website.';

- const defaultKeywords = 'haru,haru52,haruu_52';
- const keywords = pageKeywords === undefined ? defaultKeywords : `${defaultKeywords},${pageKeywords}`;
- const defaultTitle = 'haru';
- const title = pageTitle === undefined ? defaultTitle : `${pageTitle} - ${defaultTitle}`;

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    title= title
    link(rel='icon' href=require('../assets/images/favicon.png'))
  body
    include ../components/_header
    .container
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          block breadcrumb_items
            li.breadcrumb-item: a(href='/') Home
            li.breadcrumb-item.active(aria-current='page')= pageTitle
      article
        h1= pageTitle === undefined ? title : pageTitle
        block content
      include ../components/_footer
