footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
  .col-md-4.d-flex.align-items-center
    a.mb-3.me-2.mb-md-0.text-muted.text-decoration-none.lh-1(href='/')
      img(
        src=require('../../assets/images/bluff_logo.png')
        alt='Bluff logo'
        width='24'
        height='24'
        decoding='async'
      )
    span.mb-3.mb-md-0.text-muted © 2018-2024 haru
  ul.nav.col-md-4.justify-content-center.mb-3.mb-md-0
    li.nav-item: a.nav-link.px-2.text-muted(href='privacy_policy.html') Privacy Policy
  ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
    li.ms-3
      a.text-muted(
        href='https://github.com/haru52/haru52.github.io'
        target='_blank'
        rel='noreferrer'
        title='View source on GitHub'
      )
        i.fa-brands.fa-github.fa-xl
    li.ms-3
      a.text-muted(
        href='https://x.com/haruu_52'
        target='_blank'
        rel='noreferrer'
        title='X'
      )
        i.fa-brands.fa-x-twitter.fa-xl
    li.ms-3
      a.text-muted(
        href='https://www.youtube.com/channel/UCydb9noOeo_joGVbbwlq9vA'
        target='_blank'
        rel='noreferrer'
        title='YouTube'
      )
        i.fa-brands.fa-youtube.fa-xl
